.widget {
	position: absolute;
	
	display: flex;
	flex-direction: column;

	top: 2em;
	right: 2em;

	width: fit-content;

	padding: 1em;
	background: linear-gradient(0deg, rgba(33, 29, 26, 0.5), rgba(33, 29, 26, 0.5)),
							linear-gradient(0deg, rgba(33, 29, 26, 0.03), rgba(33, 29, 26, 0.03));
	box-shadow: 0px 0px 68px 0px #00000026 inset;
	box-shadow: 0px 0px 15px 0px #3F3C3A66;

	
	border-radius: 1.5em;
	overflow: hidden;

	&__controls {
		display: flex;
	}
		
	&__control {
		cursor: pointer;
	}

	.row {
		display: flex;
		flex-direction: column;

		color: #fff;

		.node {
			display: flex;
			gap: .25em;

			&__toggler {
				cursor: pointer;
			}

			&__tag {

			}
	
			&__class {

			}
	
			&__children {
				display: flex;
				flex-direction: column;
				transform: scale(0) translate(0, -100%) ;

				transition: all .3s ease-in-out;

				overflow: hidden;

				&[data-open="true"] {
					transform: scale(1) translate(0, 0);
				}
			}
		}
	
	}
}